* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background: #bbb;
    font-family: sans-serif;
}

.title__success {
    text-align: center;
    color: darkred;
}

ul {
    text-align: center;
    font-size: 24px;
}

ul li {
    display: inline-block;
    margin-right: 32px;
}
